body {
    background: rgb(186, 253, 255);
    background: linear-gradient(180deg, rgba(186, 253, 255, 0.5) 0%, rgba(134, 251, 255, 0.5) 15%, rgba(42, 241, 249, 0.5) 30%, rgba(49, 246, 255, 0.5) 45%, rgba(77, 155, 158, 0.5) 51%, rgba(194, 20, 20, 0.5) 69%, rgba(255, 0, 6, 0.5) 100%);
    margin: 0;
    padding: 0;
}


/****** NAVBAR **********/

.navbarP {
    margin: 0;
    padding: 0;
    height: 10vh;
}

.navbarP a {
    margin: 0;
    padding: 0;
    font-size: 45px;
}

.navbarP div .listeNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/**************** fin navbar *******************/


/******************* HEADER ***************************/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    padding-top: 15px;
    font-size: 72px;
    background: -webkit-linear-gradient(rgba(42, 241, 249, 0.5), rgba(255, 0, 6, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header div {
    margin-top: 15px;
    width: 20vw;
    height: 50vh;
    background: url(../img/logo.png) no-repeat;
}


/****************** CARDS PRINCIPALES ***************/

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerCard {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 75px;
}

.containerCard .cardB {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 80px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.containerCard .cardB:hover {
    height: 40vh;
    width: 50vw;
}

.containerCard .cardB .imgBox {
    position: relative;
    width: 300px;
    height: 300px;
    top: -60px;
    left: 135px;
    z-index: 1;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .3);
    text-align: center;
}

.containerCard .cardB .imgBox h2 {
    margin-top: 10px;
}

.containerCard .cardB .imgBox img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.containerCard .cardB .cardContent {
    position: relative;
    padding: 10px 15px;
    text-align: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.containerCard .cardB:hover .cardContent {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    transition-delay: 0.3s;
}

.containerCard .cardB .cardContent .presentation {
    text-align: left;
}


/********************* bouton transition *************/

.containerCard .cardB .pTrans {
    display: block;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, rgba(42, 241, 249, 0.5), rgba(255, 0, 6, 0.5));
    border-radius: 30px;
    color: black;
}

.containerCard .cardB:hover .pTrans {
    opacity: 0;
    transition: 0.7s ease-in-out;
}

.containerCard .cardB .cardContent .btn {
    margin: 0;
    padding-bottom: 0;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient( to bottom, rgba(42, 241, 249, 0.5), rgba(255, 0, 6, 0.5)) 1 100%;
}

.containerCard .cardB .cardContent .btn a {
    text-decoration: none;
    color: black;
}


/************** FIN CARDS PRINCIPALES *************/


/***************** CARDS SECONDAIRE  *************/

.presentation {
    max-width: 10vw;
    grid-row: 1/3;
    grid-column: 3/4;
}


/************** FIN CARD SECONDAIRE **************/


/************** FOOTER ******************/

li {
    list-style-type: none;
    margin-left: 1vw;
}

li:first-child {
    margin: 0;
}

footer {
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.content {
    height: 10vh;
}

.copyright,
.impressum {
    text-align: center;
}

.logo {
    height: 8vh;
}

@media (max-width: 768px) {
    li {
        margin-left: 0;
        margin-bottom: 1vh;
    }
    .sozial {
        margin-bottom: 1vh;
    }
}


/************** FIN FOOTER ******************/